h1{
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.usuario {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.Senha {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.Botao {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.conteudo {
    background-color: gray;
    max-width: 70%;
    width: 250px;
    padding: 10px;
}

input[type="text"],
input[type="password"] {
    border: 2px solid white;
    height: 30px;
    border-radius: 8px;
}